.product_display_container{
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
}

.product_display_img{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_display_img img{
    width: 50%;
}

.product_display_nextImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}

.product_display_next {
    border: 2px solid #3d3434;
    border-radius: 2vh;
    width: 15px;
    height: 15px;
    margin: 5px;
    background-color: #3d3434;
}

.product_display_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.product_display_title{
    margin-bottom: 20px;
}


.product_display_rating{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product_display_add{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 40%;
}

@media screen and (max-width: 1200px){

    .product_display_add{
        width: 50%;
    }

    .product_display_img img {
        width: 70%;
    }

    
}

@media screen and (max-width: 900px){

    .product_display_img{
        width: 50%;
    }

    .product_display_info{
        width: 50%;
    }

    .product_display_img img{
        width: 70%;
    }

    .product_display_add{
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .product_display_img{
        width: 50%;

    }

    .product_display_info{
        width: 50%;
    }

    .product_display_img img{
        width: 100%;
    }

    .product_display_add{
        width: 100%;
        margin-bottom: 10px;
    }
    .product_display_next {
        border-radius: 2vh;
        width: 10px;
        height: 10px;
        margin: 5px;
    }
}