.cart_container{
    margin: 50px 100px;
    border: 1px solid black;
    width: 90%;
}

.cart_form{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 35px;
    padding: 20px 0px;
    width: 100%;
}



.cart_item_img{
    width: 80%;
    height: auto;
}

.cart_remove_icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 20px;
}

.cart_down{
    display: flex;
    flex-direction: row;
    margin: 100px 0px;
    width: 100%;
}

.cart_total{
    gap: 20px;
    flex: 1;
    width: 40%;
}

.cart_total_info{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}


.cart_promo{
    width: 60%;
}


@media screen and (max-width: 1200px) {
    .cart_container{
        margin: 30px 70px;
    }
}

@media screen and (max-width: 900px) {
    .cart_container{
        margin: 20px 40px;
    }

    .cart_item_img{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .cart_form{
        gap: 5px;
    }

    .cart_container{
        margin: 30px 20px;
    }

    .cart_down{
        margin: 30px 0px;
    }

    .cart_remove_icon{
        width: 10px;
        height: 10px;
    }

    .cart_item_img{
        width: 50px;
        height: 50px;
    }

    .success_img{
        width: 50;
        height: 50;
    }

}
